<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    
    <h1  th:text="${titulo}"></h1>

    <div>
        <span th:text="${usuario.nombre}"></span>
        <span th:text="${usuario.apellidos}"></span>
    </div>

    <div>
        <span th:if="${usuario.email}" th:text="${usuario.email}"></span>
        <!-- <span th:if="${usuario.email == null}" th:text="'Usuario sin email'"></span> -->
        <span th:if="${usuario.email == null}">El usuario no tienen correo</span>
    </div>

</body>
</html>